.coctail {
    position: relative;    
    min-height: 800px;
    border-bottom: 1px solid grey;
}
.coctail__container {
    text-align: center;
}
.coctail__title {
    margin-bottom: 32px;
    color: rgb(2, 75, 107); 
}
.coctail__image {
    //border: 3px solid blue;
    max-height: 400px;
    width: auto;
    max-width: 100%;
    margin-bottom: 32px;
}
.coctail__text {
    @include flex(center, flex-start);
    margin-bottom: 32px;
    h6 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
        padding: 6px 0;
        border-bottom: 3px solid lightgrey;
    }
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {

    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {

    } 
    @media (max-width: $mobile-max) {
        flex-direction: column;
    }      
}

.coctail__ingredients {
    width: 30%;
    text-align: start;
    margin-right: 64px; 
    @media (max-width: $mobile-max) {
        width: 100%;
        margin-bottom: 32px;
    }     
}
.coctail__ingredients li {
    @include flex(space-between, center);
    font-size: 16px;
    font-weight: 300;
    border-bottom: 1px solid lightgrey;
    padding: 3px 0;
    span {
        display: inline-block;
        min-width: 25px;
        color: grey;
        font-size: 11px;
    }
}
.coctail__instruction {
    text-align: start;  
    li {
        font-size: 16px;
        font-weight: 400;
        border-bottom: 1px solid lightgrey; 
        padding: 5px 0;       
    } 
    @media (max-width: $mobile-max) {
        width: 100%;
    }           
}


ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 20px;
}
ol li {
	position: relative;	
}
ol li:before {
	content: counter(num) '.'; 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: 5px;
	left: -26px;
	width: 20px;    
	color: #ef6780;
	text-align: right;
}