body {
    background: rgb(228, 228, 228); // отключить после разработки
    font-family: $os; 
    font-size: $text;   
}
.wrapper {
    background: $white;    
    max-width: $wrap;
    margin: $mc;    
}
.container {
    max-width: $container;
    margin: $mc;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        padding: 0 32px;
    }     
    @media (max-width: $mobile-max) {
        padding: 0 16px;
    }      

}
svg {
    width: 100%;
    height: 100%;
}
section {
    padding: 64px 0 64px;       
    @media (max-width: $mobile-max) {
        padding: 32px 0 16px; 
    }       
}
section h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    &::after {
        @include line;
    }
}
section p {
    line-height: 175%;
    margin-bottom: 25px;
}
.intro {
    font-weight: bold;
}