.nav-panel {
    @include flex(space-between, center);
    height: 64px;
    z-index: 2;
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {

    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {

    } 
    @media (max-width: $mobile-max) {

    } 
}
.nav-panel__home {
    @include flex(center, center);   
    a {
        z-index: 4;
        font-size: 20px;
        color: rgb(2, 75, 107);  
        transition: 0.3s;      
        &:hover {
            color: $yellow;
        }             
    }
}
.nav-panel__list {  
    @include flex(center, center);
    @media (max-width: $mobile-max) {
        background-color: white;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
        z-index: 3;
        flex-direction: column;  
        justify-content: start;        
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 32px 0 32px;
        //height: 100vh;
        margin-top: -100vh;
        transition: margin-top 0.5s ease;    
        &.active {  
            display: flex;
            margin-top: 0;            
        }
    } 
    
}
.nav-panel__item {
    margin: 0 25px;
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
        margin: 0 20px;
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        margin: 0 10px;
    } 
    @media (max-width: $mobile-max) {
        text-align: center;
        margin: 0 0 12px;
    }    
}
.nav-panel__item a {
    color: rgb(2, 75, 107);
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;      
    &:hover {
        color: $yellow;
    }
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {

    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {

    } 
    @media (max-width: $mobile-max) {
        font-size: 30px;
        font-weight: 400;
    }     
}
.nav-panel__menu-btn {
    display: none; 
    @media (max-width: $tablet-min) {
        z-index: 4;
        cursor: pointer;
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        margin-right: 16px;
        background-image: url('../img/svg/menu_btn_black.svg');
        background-repeat: no-repeat; 

       
        &.active {
            background-image: url('../img/svg/menu_close_btn_black.svg');  
            background-repeat: no-repeat; 
        } 
    }        
}